@media (max-width:796px) {
	.main-principal{
	  flex-wrap: wrap;
	}
  
	.main-esquerda {
	  margin-top: 100px;
	  font-family: 'Courier New', Courier, monospace;
	}
  
	.main-principal {
	  margin-top: 50px;
	}
  
	.main-direita img {
	  display: none;
	}
  
	.menu-drop a, ul, li {
		text-decoration: none;
		list-style: none;
		color: #382020;
		font-weight: bold;
		font-size: 22px;
		padding-top: 15px;
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: bolder;
		letter-spacing: 0.8px;
	}
  
	menu-drop a::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 3px;
		left: 0;
		bottom: -5px;
		background-color: #4b0909;
		transform-origin: right;
		transition: 0.5s;
	  }
  
	  a:hover::after {
		transform-origin: left;
		transform: scale(0.9);
	  }
  
	  .menu-drop.active {
		 height: 0;
	  }
  
	.header-nav {
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: fixed;
		padding: 20px;
	  }  
  
	.menu-drop {
		position: fixed;
		top: 80px;
		background-color: transparent;
		width: 100%;
		height: 80vh;
		margin-bottom: 120px;
		display: block;
		overflow: hidden;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(10px);
		transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		box-shadow: #64646f33 0px 7px 29px 0px;
	  }
  
	.menu-toggle {
		  display: block;
		  cursor: pointer;
		  color: #c3bfc3c9;
	  }
  
	  .footer-custom p {
		display: flex;
		justify-content: left;
	  }
  
	  #title_sobremim {
		margin-top: -12rem;
	  }
  }
